@font-face {
  font-family: 'Roboto Family';
  src: url(./roboto-medium.woff);
}

html {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
  
*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* grid */

.header {
  max-width: 100%;
  grid-area: header;
  grid-column: 1/3;
  grid-row: 1/2;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.nav {
  text-align: center;
  margin-bottom: 20px;
}

.main {
  display: grid;
  grid-area: main;
  grid-column: 1/3;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "second-sect first-sect";
}

.first-section {
  grid-area: first-sect;
  grid-column: 2/3;
  width: 100%;
}

.second-section {
  grid-area: second-sect;
  grid-column: 1/2;
}

.aside-index {
  grid-area: aside;
  grid-column: 3/4;
  padding: 10px;
  max-height: 100%;
  overflow: hidden;
}

.footer {
  grid-area: footer;
}

.grid-container {
  min-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas: 
    "heder header aside"
    "main main ."
    "footer footer footer";
}

/* Header */


.header-title {
  margin-bottom: 20px;
  font-size: 3em;
  letter-spacing: 10px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  vertical-align: middle;
}



.nav-list_link {
  display: inline-block;
  list-style-type: none;
  transition: transform 0.5s;
}

.nav-list_link a {
  font-size: 1.5em;
  text-decoration: none;
  color: #000;
}

.nav-list_link a:visited{
  color: rgba(122, 121, 121, 0.788);
}

.nav-list_link:hover,
.nav-list_link:focus {
  transform: scale(1.2);
  transition: transform 1s;
}

.nav-list_link:not(:first-child) {
  margin-left: 2rem;
}

/* first section */

.first-section {
  padding: 20px;
}

.section-title {
  padding-left: 10%;
  letter-spacing: 3px;
  font-size: 1.7em;
  text-decoration: underline;
}

.first-section_text {
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
  height: 150px;
  font-size: 18px;
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 22px;
  display:-webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
}

/* second section */
.form-wrapper_left {
  grid-area: form-wrapper_left;
}

.form-wrapper_center {
  grid-area: form-wrapper_center ;
}

.form-wrapper_right {
  grid-area: form-wrapper_right;
}

.form {
  max-width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas: 
    "form-wrapper_left"
    "form-wrapper_center"
    "form-wrapper_right";
}

@media (max-width: 980px) {
  .header {
    grid-column: 1/4;
  }
  .grid-container{
    min-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas: 
    "heder"
    "main"
    "aside"
    "footer";    
  }

  .main{
    grid-column: 1/4;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "first-sect"
      "second-sect";
  }

  .second-section{
    grid-column: 1/4;
  }
  .form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "form-wrapper_left"
      "form-wrapper_center"
      "form-wrapper_right";
  }

  .aside-index {
    grid-column: 1/4;
  }

  .footer {
    grid-column: 1/4;
  }
}

.form-wrapper {
  padding: 20px;
}

.input-title {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem; 
  cursor: pointer;
}

.input {
  margin-bottom: 15px;
}

.input_text {
  padding: 5px 10px;
  outline: none;
  border-radius: 3px;
  width: 30%;
  transition: width 0.5s;
}

.input_text:hover,
.input_text:focus {
  width: 100%;
  transition: width 1s;
}

.button {
  display: block;
  width: 150px;
  height: 30px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
  transition: background-color 0.5;
}

.button[type="reset"] {
  margin: 20px 0;
}

.button:hover,
.button:focus {
  background-color: rgba(207, 207, 207, 0.521);
  transition: background-color 0.5;
}

.textarea {
  padding: 20px;
  width: 100%;
  height: 50px;
  resize: none;
}

.main {
  margin-bottom: 20px;
}

/* footer */

.footer-title {
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.7em;
  text-decoration: underline;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
}

tr, td, th {
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}

th {
  background-color: rgba(172, 172, 172, 0.459);
}

.img-wrapper {
  margin: 20px 0;
  text-align: center;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}


/* main html */

.main_header {
  background-color: rgb(78, 248, 149);
}


.table_main {
  table-layout: fixed;
  border-spacing: 20px;
  max-height: 100%;
  max-width: 100%;
}

.table_main tr,td {
  border: none;
}

.nav-main {
  width: 30%;
  background-color: rgb(78, 248, 149);
  overflow: hidden;

}

.aside {
  width: 100px;
  background-color: rgb(78, 248, 149);
}

.focus {
  border: 3px solid red;
}

#back {
  position: sticky;
  bottom: 5%;
  left: 90%;
}